/* Navbar */
.myNav {
  z-index: 11;
  height: 57px;
}

.myNavSpacer {
  height: 57px;
}

.myAsideMenu {
  height: 100vh;
  width: 50vw;
  background-color: #fff;
  z-index: 10;
  box-shadow: 3px 3px 15px rgb(209, 209, 209);
  padding: 75px 20px 25px 20px;
}

.myMainMenu {
  min-height: 50vh;
  width: 100vw;
  background-color: #fff;
  z-index: 10;
  box-shadow: 3px 3px 15px rgb(209, 209, 209);
  padding: 75px 20px 25px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.myMainMenu .singleBox {
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 1px 1px 3px rgb(225, 225, 225);
  box-shadow: 1px 1px 3px rgb(209, 209, 209);
  border-radius: 30px;
  padding: 10px 20px;
}

.myMainMenu .singleBox:hover {
  transform: translateY(-1px);
  box-shadow: 0px 0px 0px rgb(209, 209, 209);
  border: 1px solid rgb(234, 234, 234);
  transition: .15s ease-in-out .1s;
}

.myMainMenu .boxSelected {
  border: 1px solid #00acb1 !important;
  transform: translateY(-1px);
  box-shadow: 0px 0px 0px rgb(209, 209, 209);
  /* transition: .2s ease-in-out .1s; */
}

.bi-grid-fill,
.bi-columns-gap,
.bi-x-lg {
  cursor: pointer;
  font-size: 25px;
}
.truncate-lg {
  min-width: 240px;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-md {
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-sm {
  min-width: 70px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Route Link */
.myLink {
  text-decoration: none !important;
  max-width: 400px !important;
  min-width: 300px !important;
}

/* bootstrap icons */
i {
  margin-right: 8px;
}

i.bi-x-circle {
  cursor: pointer;
}

/* bootstrap icons category */
.bi-activity {
  /* cardiology */
  color: rgb(255, 111, 0);
}

.bi-shield-fill-exclamation {
  /* immunology */
  color: rgb(38, 162, 250);
}

.bi-bandaid-fill {
  /* pediatrics */
  color: rgb(255, 161, 242);
}

.bi-radioactive {
  /* radiology */
  color: rgb(207, 186, 0);
}

.bi-fingerprint {
  /* biotecnology */
  color: #8c14ad;
}

.bi-basket2-fill {
  /* dietology */
  color: #0a854f;
}

/* bootstrap icons welcome hours */
.bi-moon-fill {
  color: #0c5778;
}

.bi-brightness-alt-high-fill {
  color: #e98400;
}

.bi-brightness-high-fill {
  color: #c6b118;
}

/* posts */
.myPostCard {
  max-width: 400px !important;
  min-width: 300px !important;
  border-radius: 0px !important;
  padding: 0px !important;
}

.myPostCard:hover {
  cursor: pointer;
  box-shadow: 3px 3px 15px rgb(209, 209, 209);
  transform: translateY(-3px);
  transition: 250ms ease-in-out 100ms;
}

.myPostCard>.myBgImage {
  height: 300px !important;
  background-size: cover !important;
  background-position: center !important;
  overflow: hidden !important;
}

.myPostTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(72, 72, 72);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.mySubtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.myCategorySymbol {
  font-size: 1.3rem;
  position: absolute;
  top: 283px;
  background: rgb(255, 255, 255);
  padding: 2px 5px !important;
  border-radius: 30px;
}

.myCategorySymbol i {
  margin: 0 3px !important;
}

/* author image */
.myAuthorImg-sm {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
}

.myAuthorImg-md {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 25px
}

/* homepage title post section */
.myTitles {
  font-weight: 300;
  border-left: 5px solid #14a7ad;
}

/* homepage user detail info */
.detailUserBar {
  border-bottom: 1px solid #d5d5d5;
  background-color: #eaeaea;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0 10px;
  font-weight: 400;
}

.detailUserBar .logout_bar {
  cursor: pointer;
}

.detailUserBar .logout_bar:hover {
  color: rgb(85, 0, 0) !important;
  transition: color .2s ease-in-out .1s;
}

.providerIcon {
  height: 13px;
}

/* content tool bar */
.contentToolBar {
  background-color: #efeeee;
  border: 1px solid #dbdbdb;
}

.contentToolBar>.myLink {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 1px 1px 2px #c8c8c8;
  min-width: 100px !important;
  ;
}

.contentToolBar>.myLink:hover {
  transform: translateY(1px);
  transition: .2s ease-in-out .1s;
  box-shadow: 2px 2px 4px #989898;
}

.contentToolBar>div {
  font-size: 22px;

}

.contentToolBar>div>div:last-child {
  background: #fff;
  padding: 0 3px 0 11px;
  border-radius: 20px;
}

/* LogIn Page */
.myLogInForm {
  height: 92vh;
  background-size: cover !important;
  background-position: right !important;
}

.myLogInForm>div {
  width: 70%;
  height: 60vh;
  background-color: rgba(248, 248, 248, 0.961);
  border-radius: 10px;
  z-index: 9;
}

.myLogInForm input {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
  padding: 5px 10px
}

.githubImg {
  height: 20px;
}

.myFailedLogin {
  animation: 3s infinite loginFailed;
  animation-timing-function: ease-in-out;
}

@keyframes loginFailed {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translate(0);
  }
}

/* SignIn page */
.mySignInForm {
  background-size: cover !important;
  background-position: right !important;
}

.mySignInForm>div {
  width: 70%;
  background-color: rgba(248, 248, 248, 0.961);
  border-radius: 10px;
  z-index: 9;
}

.mySignInForm input {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid rgb(195, 195, 195);
  padding: 5px 10px
}

/* Author Card */

.myAuthorCard {
  border: 1px solid rgb(213, 213, 213)
}